.icon {
    font-family: "Material Symbols";
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    transition: font-variation-settings 70ms ease-in;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    margin-right: 0;
    width: 1.2em;
    height: 1.2em;
}
