input[type="text"] {
    background-color: var(--surface-container-highest);
    color: var(--on-surface);
    font-size: 16px;
    border: solid var(--outline) 2px;
    border-radius: 10px;
    padding: 8px;
    width: 150px;
    height: 20px;
    transition: background-color, color, border-color;
    transition-duration: 200ms;

    &[data-invalid] {
        border-color: var(--error);
    }
}

label:has(input[type="text"]) span {
    color: var(--on-surface);
    margin-bottom: 2px;

    &:has(+ input[data-invalid]) {
        color: var(--error);
    }
}

input[type="checkbox"] {
    appearance: none;
    margin-right: 15px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--outline);
    border-radius: 3px;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: background-color, color, border-color;
    transition-duration: 200ms;

    &:checked {
        background-color: var(--primary);
        border-color: var(--primary);

        &::before {
            content: "check";
            color: var(--on-primary);
            font-family: "Material Symbols";
            font-size: 20px;
            font-variation-settings:
                "FILL" 0,
                "wght" 550,
                "GRAD" 0,
                "opsz" 20;
        }
    }
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 3em;
    text-align: center;
    font-size: inherit;
    border: none;
    outline: solid 2px var(--primary-container);
    outline-offset: -2px;
    border-radius: 5px;
    background-color: rgb(from var(--primary-container) r g b / 0.3);
    color: var(--on-surface);

    &:focus {
        outline-color: var(--primary);
        background-color: rgb(from var(--primary-container) r g b / 0.5);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
}

button.minus:has(+ input[type="number"]) {
    --background-color: var(--primary-container);
    --color: var(--on-primary-container);
    border-radius: 50% 5px 5px 50%;
    .icon {
        translate: 0.05em 0;
    }
}
input[type="number"] + button.plus {
    --background-color: var(--primary-container);
    --color: var(--on-primary-container);
    border-radius: 5px 50% 50% 5px;
    .icon {
        translate: -0.05em 0;
    }
}
