body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

main {
    overflow-y: auto;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;

    section {
        max-width: 700px;
        width: 100%;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    height: 65px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 15px 15px 0 0;

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (width >= 550px) {
    body {
        flex-direction: row-reverse;
    }

    nav {
        flex-direction: column;
        height: auto;
        width: 90px;
        border-radius: 0 15px 15px 0;

        a {
            width: auto;
            height: 100%;
            margin-right: 0;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    nav {
        @media (height >= 430px) {
            height: auto;
            margin: 20px 0 20px 20px;
            max-height: 370px;
            border-radius: 15px;
        }
    }
}

@media ((width >= 1300px) and (height >= 430px)) {
    body {
        justify-content: center;
    }
    main {
        display: block;
        width: 700px;
        flex: unset;
    }
}

@media (width <= 350px) {
    nav {
        height: 50px;

        a .icon + span {
            display: none;
        }
    }
}

@media ((height <= 350px) and (width > 550px)) {
    nav {
        width: 50px;

        a .icon + span {
            display: none;
        }
    }
}
