main {
    overflow-y: auto;
    padding: 0 20px;
    flex: 1;
    display: flex;
    justify-content: center;

    section {
        max-width: 700px;
        width: 100%;
        font-size: 19px;
        padding-top: 20px;
    }
}

section-nav {
    display: flex;
    justify-content: space-around;
    height: 70px;
    flex-shrink: 0;
    padding: 10px;
    margin: 0 10px 10px 10px;

    button {
        width: 100%;
        margin-right: 10px;
        padding: 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (width >= 550px) {
    body {
        flex-direction: row-reverse;
    }

    section-nav {
        flex-direction: column;
        height: auto;
        width: 90px;
        margin: 10px 0 10px 10px;

        button {
            width: auto;
            height: 100%;
            margin-right: 0;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (height >= 430px) {
        section-nav {
            height: auto;
            margin: 20px 0 20px 20px;
            max-height: 370px;
        }
    }
}

@media ((width >= 1200px) and (height >= 430px)) {
    body {
        justify-content: center;
    }

    main {
        display: block;
        width: 700px;
        flex: unset;
    }
}

@media (width <= 385px) {
    section-nav {
        height: 50px;

        button span {
            display: none;
        }
    }
}

@media ((height <= 385px) and (width > 550px)) {
    section-nav {
        width: 50px;

        button span {
            display: none;
        }
    }
}

div:has(> h2) {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    padding: 12px;
    border-radius: 17px 17px 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 5px;
        font-weight: 500;
        font-size: 22px;
    }

    button {
        --size: 15;

        &.outlined {
            --color: var(--secondary);
        }

        &.filled {
            --background-color: var(--secondary);
            --color: var(--on-secondary);
        }
    }
}
