@keyframes spin {
    from {
        rotate: 0;
    }
    to {
        rotate: 2turn;
    }
}

sync-button {
    margin: 16px;

    button .icon {
        animation: 2s linear spin;
        animation-iteration-count: 0;
    }

    &[data-syncing] button {
        background-color: var(--accent) !important;

        .icon {
            animation-iteration-count: infinite;
        }
    }
}

nav-bar {
    nav {
        background-color: var(--bg2);
        display: flex;
        justify-content: space-around;
        height: 80px;
        flex-shrink: 0;
    }

    a {
        color: var(--fg);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .icon {
            font-size: 25px;
            margin-bottom: 5px;
        }

        .label {
            font-size: 15px;
        }
    }
}
