@scope (#timeline) {
    :scope {
        padding-top: 0;
        position: relative;
    }

    button#recentre {
        --background-color: var(--tertiary);
        --color: var(--on-tertiary);
        --size: 21;
        position: absolute;
        bottom: 30px;
        right: 30px;
        padding: 15px;
        z-index: 1;
        transition-property: opacity, scale, background-color, color;
        transition-duration: 100ms;
    }
}
