@scope (#today) {
    :scope > div {
        padding-bottom: 40px;
    }

    .member-name {
        font-weight: 470;
    }

    @media (width <= 390px) {
        state-actions button[data-cancel] {
            --collapse: 1;
        }
    }

    @media ((width <= 475px) or ((width <= 615px) and (width >= 550px))) {
        :scope > div h2 .suffix {
            display: none;
        }
    }
}
