section#today {
    & > div {
        padding-bottom: 40px;
    }

    .member-name {
        font-weight: 470;
    }

    @media (width <= 350px) {
        turns-list {
            gap: 0 10px;
        }

        state-actions button {
            --collapse: 1;
        }
    }

    @media (width <= 410px) {
        state-actions:has(button:is(.outlined, .tonal):not([hidden])) button {
            --collapse: 1;
        }
    }

    @media ((width <= 475px) or ((width <= 615px) and (width >= 550px))) {
        state-actions button:is(.outlined, .tonal) {
            --collapse: 1;
        }
    }
}
