@font-face {
    font-family: "Google Sans Flex";
    src: url(google-sans-flex.ttf);
}

@font-face {
    font-family: "Inconsolata";
    src: url(inconsolata.ttf);
}

@font-face {
    font-family: "Material Symbols";
    src: url(material-symbols.ttf);
}
