form {
    display: flex;
    align-items: center;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 20px;
            font-size: 17px;
            user-select: none;
            display: flex;
            flex-direction: column;

            input[name="login-secret"] {
                font-family: "Inconsolata", monospace;
                width: min(44ch, 100vw - 70px);
            }
        }
    }

    button[type="submit"] {
        margin-bottom: 20px;
    }
}
