form {
    display: flex;
    align-items: center;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        div {
            label {
                font-size: 17px;
                margin-bottom: 4px;
                user-select: none;
            }

            input[name="login-secret"] {
                font-family: "Inconsolata", monospace;
                width: min(44ch, 100vw - 70px);
            }
        }
    }
}
