section#count {
    &:has(ul.details[inert]) div:has(> h2) button#collapse-all,
    &:not(:has(ul.details[inert])) div:has(> h2) button#expand-all {
        display: none;
    }

    & > ul {
        display: flex;
        flex-direction: column;

        & > li {
            background-color: var(--surface-container-low);
            color: var(--on-surface);
            border-radius: 6px;
            box-sizing: border-box;
            width: 100%;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            transition: background-color, color;
            transition-duration: 100ms;

            &[data-edit-mode] {
                ul.details {
                    grid-template-columns: fit-content(30%) 1fr auto 1fr fit-content(50%);

                    li .count-input {
                        display: none;
                    }

                    @media (width >= 410px) {
                        li .offset .suffix {
                            display: inline;
                        }
                    }
                }

                div.chore button.save {
                    display: none;
                }
            }

            &:not([data-edit-mode]) div.chore button.edit,
            &:not([data-edit-mode]) li .count-text {
                display: none;
            }

            &:has(div.chore:focus-visible),
            &:has(div.chore:active) {
                background-color: color-mix(
                    in srgb,
                    var(--on-surface) 14%,
                    var(--surface-container-low)
                );
            }

            @media (hover: hover) {
                &:has(div.chore:hover:not(:active)) {
                    background-color: color-mix(
                        in srgb,
                        var(--on-surface) 8%,
                        var(--surface-container-low)
                    );
                }
            }
        }
    }

    div.chore {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 12px;
        cursor: pointer;

        .chore-name {
            color: var(--on-surface-variant);
            font-size: 19px;
            margin-left: 4px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        button.edit,
        button.save,
        .total-count {
            margin-left: auto;
        }

        .total-count {
            font-weight: 470;
            color: var(--on-secondary-container);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex-shrink: 0;
            max-width: 5.5em;

            @media (width <= 390px) {
                .suffix {
                    display: none;
                }
            }
        }

        &:has(+ ul[inert]) button.edit,
        &:has(+ ul[inert]) button.save,
        &:not(:has(+ ul[inert])) .total-count {
            display: none;
        }

        button.expand {
            --size: 16px;
            --color: var(--secondary);
            padding: 4px;
        }
    }

    ul.details {
        display: flex;
        background-color: rgb(from var(--surface-container-lowest) r g b / 0.6);
        padding: 12px;
        border-radius: 8px;
        margin: 0 8px 8px 8px;
        display: grid;
        grid-template-columns: fit-content(30%) 1fr auto 1fr fit-content(30%);
        gap: 10px 15px;

        &[inert] {
            display: none;
        }

        li {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            align-items: center;

            .member-name {
                grid-column: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .count-text,
            .count-input {
                grid-column: 3;
            }

            .count-text {
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                @media (width <= 370px) {
                    .suffix {
                        display: none;
                    }
                }
            }

            .offset {
                grid-column: 5;
                color: rgb(from var(--on-surface-variant) r g b / 0.85);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                @media (((width <= 615px) and (width >= 550px)) or (width <= 430px)) {
                    .suffix {
                        display: none;
                    }
                }
            }

            @media (width <= 410px) {
                input[type="number"] {
                    width: 2.1em;
                }
            }
        }
    }
}
