section#today {
    #assigned-chores,
    #turns {
        padding-bottom: 40px;

        h2 {
            margin: 5px;
            font-weight: 500;
            font-size: 22px;
        }

        & > div {
            background-color: var(--surface-container-low);
            color: var(--on-surface-container-low);
            padding: 12px;
            border-radius: 17px 17px 6px 6px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    #assigned-chores {
        h2 + button {
            --size: 15px;
            @media (width <= 350px) {
                --collapse: 1;
            }
        }

        & > ul[data-edit-mode] {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;

            & > li {
                display: flex;
                align-items: center;
                gap: 12px;
                width: 100%;
                background-color: var(--surface);
                color: var(--on-surface);
                border-radius: 6px;
                box-sizing: border-box;
                padding: 6px;

                .chore-name {
                    flex-grow: 0;
                    flex-shrink: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    color: var(--on-surface-variant);
                    font-size: 17px;
                    margin-left: 6px;
                }
                .chore-quantity {
                    background-color: var(--surface-container);
                    color: var(--on-surface);
                    padding: 4px 9px;
                    border-radius: calc(infinity * 1px);
                    font-weight: 550;
                    font-size: 14px;
                }
                .member-name-dropdown {
                    flex-grow: 1;

                    & > button {
                        justify-self: end;
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        width: 90px;

                        span:not(.icon) {
                            margin-left: 12px;
                        }
                    }
                    [popover] {
                        position-area: bottom;
                    }
                }
                button.remove {
                }
            }
        }
    }

    #turns ul {
        background-color: var(--surface);
        color: var(--on-surface);
        border-radius: 6px;
    }
}
