section#today {
    #assigned-chores,
    #all-chores {
        padding-bottom: 40px;

        & > div {
            background-color: var(--secondary-container);
            color: var(--on-secondary-container);
            padding: 12px;
            border-radius: 17px 17px 6px 6px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                margin: 5px;
                font-weight: 500;
                font-size: 22px;
            }
        }
    }

    .chore-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: var(--on-surface-variant);
        font-size: 17px;
    }

    .member-name {
        font-weight: 470;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #assigned-chores {
        h2 + button {
            --size: 15px;
            --background-color: var(--secondary);
            --color: var(--on-secondary);
            @media (width <= 300px) {
                --collapse: 1;
            }
        }

        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;

            & > li {
                display: flex;
                align-items: center;
                gap: 12px;
                width: 100%;
                background-color: var(--surface-container-low);
                color: var(--on-surface);
                border-radius: 6px;
                box-sizing: border-box;
                padding: 0 8px;
                height: 48px;
                transition: height, opacity;
                transition-duration: 150ms, 100ms;
                transition-timing-function: ease-out;

                .chore-name {
                    flex-grow: 0;
                    flex-shrink: 1;
                    margin-left: 6px;
                    font-size: 18px;
                }
                .chore-quantity {
                    background-color: var(--surface-container-highest);
                    color: var(--on-surface);
                    padding: 4px 9px;
                    border-radius: calc(infinity * 1px);
                    font-weight: 550;
                    font-size: 14px;
                    &:not([data-enabled]) {
                        display: none;
                    }
                }
                .swapped.icon {
                    display: none;
                }
                .name-dropdown {
                    margin-left: auto;
                    width: 30%;
                    flex-shrink: 0;

                    & > button {
                        --background-color: var(--primary-container);
                        --color: var(--on-primary-container);
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        height: 32px;
                        width: 100%;
                        scale: 1;
                        @media not (hover: hover) {
                            background-color: var(--primary-container);
                            color: var(--on-primary-container);
                            &:has(+ :popover-open) {
                                color: var(--on-tertiary-container);
                                background-color: var(--tertiary-container);
                            }
                        }

                        &:has(+ :popover-open) {
                            border-radius: 16px 16px 6px 6px;
                            --color: var(--on-tertiary-container);
                            --background-color: var(--tertiary-container);
                        }

                        .member-name {
                            margin-left: 12px;
                        }
                    }
                    [popover] {
                        position-area: bottom;
                        width: anchor-size(width);
                        background-color: var(--surface-container-low);
                        border: none;
                        padding: 0 6px 6px 6px;
                        border-radius: 0 0 8px 8px;
                        margin-top: 4px;
                        list-style: none;

                        button {
                            height: 32px;
                            width: 100%;
                            --background-color: var(--tertiary-container);
                            --color: var(--on-tertiary-container);
                            border-radius: 6px;
                            scale: 1;
                            margin-bottom: 4px;
                            &:last-child {
                                margin-bottom: 0;
                            }

                            span {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                font-weight: 470;
                                margin-left: 4.5px;
                            }
                        }
                    }
                }

                button.remove {
                    --size: 14px;
                    --background-color: var(--primary-container);
                    --color: var(--on-primary-container);
                }
            }

            &[inert] > li {
                .swapped.icon {
                    margin-left: auto;
                    display: inline-block;
                    color: var(--on-surface-variant);
                    opacity: 0.8;
                    font-size: 20px;
                    &:not([data-enabled]) {
                        display: none;
                    }
                }

                .swapped.icon:not([data-enabled]) + .name-dropdown {
                    margin-left: auto;
                }

                .name-dropdown {
                    margin-left: 0;
                    pointer-events: none;
                    max-width: 40%;
                    width: auto;

                    & > button {
                        max-width: 100%;
                        width: fit-content;
                        background-color: var(--surface-container-low);
                        color: var(--on-surface);

                        .member-name {
                            margin-left: 0;
                            margin-right: 10px;
                            width: 100%;
                            text-align: right;
                        }
                        .icon {
                            display: none;
                        }
                    }
                }
                button.remove {
                    display: none;
                }
            }
        }

        &:not(:has(ul > li)),
        &:has(ul[loading]) {
            button#edit {
                display: none;
            }
            ul {
                display: none;
                & + .status-message {
                    display: flex;
                }
            }
        }
    }

    #all-chores ul {
        background-color: var(--surface-container-low);
        color: var(--on-surface);
        border-radius: 6px;
        list-style: none;
        margin: 0;
        padding: 5px 10px;
        display: grid;
        grid-template-columns: fit-content(60%) 1fr auto 1fr max-content;
        gap: 0 17px;

        li {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            align-items: center;
            border-bottom: 2px solid rgb(from var(--secondary) r g b / 0.05);
            &:last-child {
                border-bottom: none;
            }

            .chore-name {
                grid-column: 1;
                margin: 10px 0 10px 8px;
            }

            .member-name {
                grid-column: 3;
                display: block;
                min-width: 0;
                max-width: 100%;
                font-size: 18px;
            }

            button {
                grid-column: 5;
                --size: 16px;
            }
        }

        &:not(:has(li)),
        &[loading] {
            display: none;
            & + .status-message {
                display: flex;
            }
        }
    }

    /* #assigned-chores > ul[loading] + .status-message,
    #all-chores > ul[loading] + .status-message {
        .loading {
            display: block;
        }
        .empty {
            display: none;
        }
    }
    #assigned-chores > ul:not(:has(li)) + .status-message,
    #all-chores > ul:not(:has(li)) + .status-message {
        .loading {
            display: none;
        }
        .empty {
            display: block;
        }
    } */

    .status-message {
        display: none;
        background-color: var(--surface-container-low);
        color: var(--on-surface-variant);
        justify-content: center;
        margin: 0;
        padding: 25px;
        align-items: center;
        border-radius: 6px;
        text-align: center;

        & > * {
            display: none;
        }
    }

    ul[loading] + .status-message .loading {
        display: block;
    }
    ul:not(:has(li)):not([loading]):not([error]) + .status-message .empty {
        display: block;
    }
    ul[error]:not([loading]) + .status-message {
        background-color: var(--error-container);
        color: var(--error);

        .error {
            display: block;
        }
    }
}
