@font-face {
    font-family: "Material Symbols Outlined Easter Egg";
    src: url(../../assets/fonts/material-symbols-easter-egg.woff2?t=2026-09-15);
}

easter-egg-game {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-shrink: 1;

    > * {
        margin-bottom: 15px;
    }

    .cards-container {
        display: flex;
        align-self: center;
        width: 100%;
        height: calc(50cqw - 20px);
        container-type: size;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &.replacing .card button,
        &.stopping .card button,
        &.stopping .card {
            scale: 0;
        }

        .card {
            width: min(50cqw, 100cqh);
            height: min(50cqw, 100cqh);
            position: relative;
            container-type: inline-size;
            border-radius: 50%;
            background-color: var(--surface-container-low);
            transition: scale 100ms;
            @starting-style {
                scale: 0;
            }

            button {
                --icon-size: 13cqw;
                position: absolute;
                padding: 4cqw;
                @starting-style {
                    scale: 0;
                }

                md-icon {
                    font-family: "Material Symbols Outlined Easter Egg";
                    font-size: var(--icon-size);
                }
            }
        }
    }

    @container easter-egg-section (max-aspect-ratio: 3 / 4) {
        .cards-container {
            flex-direction: column;
            height: 200cqw;

            .card {
                width: calc(50cqh - 10px);
                height: 50cqh;
            }
        }
    }

    .scores {
        display: flex;
        justify-content: center;

        .score,
        .high-score {
            display: flex;
            align-items: center;
            background-color: var(--surface-container);
            padding: 10px 12px;
            border-radius: calc(infinity * 1px);

            span {
                font-weight: 500;
                text-overflow: clip;
                text-align: center;
                width: 47px;
            }

            md-icon[spin] {
                text-align: center;
                width: 47px;
                margin: 0;
                color: rgb(from var(--on-surface-variant) r g b / 0.7);
            }
        }

        .score {
            margin-right: 15px;
            transition-property: scale, margin-right;
            transition-duration: 100ms;

            @starting-style {
                scale: 0;
                margin-right: 0;
            }
        }
    }

    .stats {
        width: auto;
        display: flex;
        align-items: center;
        padding: 0 12px;
        gap: 12px;

        > span {
            flex-shrink: 0;
            width: 2ch;
            text-align: center;
            color: var(--primary);
            font-weight: 570;
            white-space: normal;
            text-overflow: clip;
            overflow: visible;
        }

        .lives {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            margin-right: 10px;

            md-icon {
                --opsz: 23;
                margin: 0;
            }

            md-icon.life {
                --fill: 1;
                color: var(--primary);

                &[shake] {
                    animation-iteration-count: infinite;
                    animation-duration: 220ms;
                }
            }

            md-icon.lost-life {
                color: rgb(from var(--on-surface-variant) r g b / 0.65);
            }
        }
    }

    .stats.danger {
        span,
        md-icon.life {
            color: var(--error);
        }
        progress {
            --background-color: var(--error-container);
            --color: var(--error);
        }
    }

    state-actions {
        align-self: center;

        button {
            --size: 18;
        }

        &[state="active"] button {
            --background-color: var(--primary-container);
            --color: var(--on-primary-container);
        }
    }

    .card[data-variation="1"] {
        > :nth-child(1) {
            top: 48%;
            left: 10%;
            --icon-size: 20cqw;
        }
        > :nth-child(2) {
            top: 24%;
            left: 11%;
            --icon-size: 13cqw;
        }
        > :nth-child(3) {
            top: 53%;
            left: 63%;
            --icon-size: 16cqw;
        }
        > :nth-child(4) {
            top: 69%;
            left: 40%;
            --icon-size: 15cqw;
        }
        > :nth-child(5) {
            top: 35%;
            left: 40%;
            --icon-size: 17cqw;
        }
        > :nth-child(6) {
            top: 8%;
            left: 31%;
            --icon-size: 12cqw;
        }
        > :nth-child(7) {
            top: 12%;
            left: 56%;
            --icon-size: 14cqw;
        }
        > :nth-child(8) {
            top: 33%;
            left: 73%;
            --icon-size: 13cqw;
        }
    }

    .card[data-variation="2"] {
        > :nth-child(1) {
            top: 54%;
            left: 8%;
            --icon-size: 13cqw;
        }
        > :nth-child(2) {
            top: 21%;
            left: 11%;
            --icon-size: 13cqw;
        }
        > :nth-child(3) {
            top: 65%;
            left: 55%;
            --icon-size: 15cqw;
        }
        > :nth-child(4) {
            top: 69%;
            left: 30%;
            --icon-size: 15cqw;
        }
        > :nth-child(5) {
            top: 35%;
            left: 28%;
            --icon-size: 20cqw;
        }
        > :nth-child(6) {
            top: 8%;
            left: 31%;
            --icon-size: 12cqw;
        }
        > :nth-child(7) {
            top: 9%;
            left: 56%;
            --icon-size: 14cqw;
        }
        > :nth-child(8) {
            top: 34%;
            left: 62%;
            --icon-size: 21cqw;
        }
    }

    .card[data-variation="3"] {
        > :nth-child(1) {
            top: 55%;
            left: 13%;
            --icon-size: 16cqw;
        }
        > :nth-child(2) {
            top: 23%;
            left: 8%;
            --icon-size: 17cqw;
        }
        > :nth-child(3) {
            top: 58%;
            left: 63%;
            --icon-size: 15cqw;
        }
        > :nth-child(4) {
            top: 71%;
            left: 40%;
            --icon-size: 16cqw;
        }
        > :nth-child(5) {
            top: 35%;
            left: 40%;
            --icon-size: 18cqw;
        }
        > :nth-child(6) {
            top: 8%;
            left: 31%;
            --icon-size: 16cqw;
        }
        > :nth-child(7) {
            top: 12%;
            left: 58%;
            --icon-size: 14cqw;
        }
        > :nth-child(8) {
            top: 33%;
            left: 73%;
            --icon-size: 15cqw;
        }
    }

    .card[data-variation="4"] {
        > :nth-child(1) {
            top: 48%;
            left: 10%;
            --icon-size: 17cqw;
        }
        > :nth-child(2) {
            top: 24%;
            left: 11%;
            --icon-size: 13cqw;
        }
        > :nth-child(3) {
            top: 56%;
            left: 59%;
            --icon-size: 16cqw;
        }
        > :nth-child(4) {
            top: 65%;
            left: 31%;
            --icon-size: 20cqw;
        }
        > :nth-child(5) {
            top: 37%;
            left: 40%;
            --icon-size: 15cqw;
        }
        > :nth-child(6) {
            top: 6%;
            left: 31%;
            --icon-size: 20cqw;
        }
        > :nth-child(7) {
            top: 17%;
            left: 62%;
            --icon-size: 12cqw;
        }
        > :nth-child(8) {
            top: 36%;
            left: 73%;
            --icon-size: 13cqw;
        }
    }

    .card[data-variation="5"] {
        > :nth-child(1) {
            top: 40%;
            left: 25%;
            --icon-size: 17cqw;
        }
        > :nth-child(2) {
            top: 24%;
            left: 9%;
            --icon-size: 13cqw;
        }
        > :nth-child(3) {
            top: 61%;
            left: 65%;
            --icon-size: 12cqw;
        }
        > :nth-child(4) {
            top: 69%;
            left: 40%;
            --icon-size: 15cqw;
        }
        > :nth-child(5) {
            top: 38%;
            left: 54%;
            --icon-size: 15cqw;
        }
        > :nth-child(6) {
            top: 8%;
            left: 31%;
            --icon-size: 14cqw;
        }
        > :nth-child(7) {
            top: 12%;
            left: 58%;
            --icon-size: 14cqw;
        }
        > :nth-child(8) {
            top: 65%;
            left: 16%;
            --icon-size: 12cqw;
        }
    }
}
