easter-egg-game {
    margin: 0 -20px;
    height: calc(100% - 20px - 30px);

    @media (width >= 550px) {
        max-height: 370px;
    }

    @media (height >= 430px) {
        max-height: 340px;
        padding-top: 10px;
    }

    .stats {
        background-color: blue;
        height: 30px;
    }

    .container {
        background-color: red;
        height: 100%;
        position: relative;
    }

    md-icon.player {
        --opsz: 50;
        color: var(--primary);
        position: absolute;
        bottom: 70px;
        left: 60px;
    }
}
