@font-face {
    font-family: "Material Symbols Outlined";
    src: url(../../assets/fonts/material-symbols.woff2?t=2026-09-09);
    font-display: swap;
}

@keyframes spin {
    to {
        rotate: -1turn;
    }
}

@keyframes shake {
    0%,
    100% {
        translate: 0 0;
    }
    14.29% {
        translate: calc(var(--d) * -1) 0;
    }
    28.57% {
        translate: var(--d) 0;
    }
    42.86% {
        translate: calc(var(--d) * -1) var(--d);
    }
    57.14% {
        translate: var(--d) calc(var(--d) * -1);
    }
    71.43% {
        translate: calc(var(--d) * -1) calc(var(--d) * -1);
    }
    85.71% {
        translate: var(--d) var(--d);
    }
}

md-icon {
    --fill: 0;
    --wght: 400;
    --opsz: 24;

    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: calc(var(--opsz) * 1px);
    display: inline-block;
    line-height: 1;
    margin: 0.05em;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    transition: font-variation-settings 100ms ease-in;
    font-variation-settings:
        "FILL" var(--fill),
        "wght" var(--wght),
        "GRAD" 0,
        "opsz" var(--opsz);

    &.large {
        --opsz: 50;
        display: block;
        width: auto;
        height: auto;
    }

    &.spin {
        animation-name: spin;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &.shake {
        --shake-intensity: 1;
        --d: calc(var(--shake-intensity) * 1.2px);
        animation-name: shake;
        animation-duration: calc(var(--shake-intensity) * 40ms);
        animation-timing-function: linear;
    }
}
