timeline-list {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    position: relative;

    & > div {
        flex-grow: 1;
        min-height: 0;
        width: 100%;
        overflow-y: auto;

        & > div {
            background-color: var(--surface-container-low);
            height: 50px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            cursor: pointer;
            padding: 0 10px;
            gap: 10px;
            transition: height, background-color, color;
            transition-duration: 100ms;

            &[data-expanded] {
                height: 150px;
            }

            &:active:not(:has(button:active)) {
                background-color: color-mix(
                    in srgb,
                    var(--on-surface) 5%,
                    var(--surface-container-low)
                );
            }

            @media (hover: hover) {
                &:hover:not(:has(button:hover)):not(:active) {
                    background-color: color-mix(
                        in srgb,
                        var(--on-surface) 3%,
                        var(--surface-container-low)
                    );
                }
            }

            .short-date {
                margin-left: auto;
                font-size: 16px;
                color: var(--on-surface-variant);
            }

            button.expand {
                --size: 16;
                --color: var(--secondary);
                padding: 4px;
            }
        }
    }

    &::after,
    &::before {
        --position: top;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        pointer-events: none;
        background: linear-gradient(
            to var(--position),
            transparent,
            var(--surface-container-lowest)
        );
    }

    &::before {
        top: 0;
        --position: top;
    }

    &::after {
        bottom: 0;
        --position: bottom;
    }
}
