toggle-switch {
    width: fit-content;

    input[type="checkbox"] {
        appearance: none;

        &:focus-visible {
            outline: none;
        }
    }

    label {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        color: var(--on-surface-variant);
    }

    .toggle {
        width: 56px;
        height: 31px;
        border: solid 2px;
        border-radius: calc(infinity * 1px);
        transition-property: background-color, border-color, outline-color;
        transition-duration: 150ms;
        display: flex;
        align-items: center;
        outline-offset: 2px;
    }

    .handle {
        width: 26px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        transition-property: translate, color, background-color, box-shadow, scale;
        transition-duration: 150ms;
        display: grid;
        place-content: center;
        margin: 0 3px;

        md-icon {
            --opsz: 19;
            transition: scale 150ms;
        }
    }

    &:active:not(:has(:disabled)) .handle {
        scale: 1.2;

        md-icon {
            scale: calc(1 / 1.2);
        }
    }

    &:not(:has(:checked)) {
        .toggle {
            background-color: var(--surface-container-highest);
            border-color: var(--outline);
        }

        .handle {
            background-color: var(--outline);
            color: var(--surface-container-highest);
        }

        @media (hover: hover) {
            &:hover:not(:has(:disabled)) .handle {
                background-color: var(--on-surface-variant);
                box-shadow: 0 0 0 10px rgb(from var(--on-surface-variant) r g b / 0.2);
            }
        }

        &:has(:focus-visible) .toggle {
            outline: solid 2px var(--on-surface);
        }
    }

    &:has(:checked) {
        .toggle {
            background-color: var(--primary);
            border-color: var(--primary);
        }

        .handle {
            background-color: var(--on-primary);
            color: var(--primary);
            translate: 24px 0;
        }

        @media (hover: hover) {
            &:hover:not(:has(:disabled)) .handle {
                background-color: var(--primary-container);
                box-shadow: 0 0 0 10px rgb(from var(--primary) r g b / 0.2);
            }
        }

        &:has(:focus-visible) .toggle {
            outline: solid 2px var(--primary);
        }
    }

    &:has(:disabled) {
        label {
            pointer-events: none;
            cursor: unset;
        }

        .toggle {
            filter: grayscale(1);
            opacity: 0.4;
        }
    }
}
