:root {
    color-scheme: light dark;

    --background: light-dark(#f9f9ff, #0e141c);
    --on-background: light-dark(#171c24, #dee2ef);
    --surface: light-dark(#f9f9ff, #0e141c);
    --surface-dim: light-dark(#d6dae6, #0e141c);
    --surface-bright: light-dark(#f9f9ff, #343943);
    --surface-container-lowest: light-dark(#ffffff, #090e17);
    --surface-container-low: light-dark(#f0f3ff, #171c24);
    --surface-container: light-dark(#eaeefa, #1b2029);
    --surface-container-high: light-dark(#e4e8f4, #252a33);
    --surface-container-highest: light-dark(#dee2ef, #30353e);
    --on-surface: light-dark(#171c24, #dee2ef);
    --surface-variant: light-dark(#dce2f2, #404753);
    --on-surface-variant: light-dark(#404753, #c0c6d5);
    --inverse-surface: light-dark(#2c313a, #dee2ef);
    --inverse-on-surface: light-dark(#ecf0fd, #2c313a);
    --outline: light-dark(#717785, #8a919f);
    --outline-variant: light-dark(#c0c6d5, #404753);
    --surface-tint: light-dark(#005eb2, #a7c8ff);
    --primary: light-dark(#005eb2, #a7c8ff);
    --on-primary: light-dark(#ffffff, #003060);
    --primary-container: light-dark(#d5e3ff, #16375b);
    --on-primary-container: light-dark(#004788, #d5e3ff);
    --inverse-primary: light-dark(#a7c8ff, #005eb2);
    --secondary: light-dark(#565d7e, #bec5eb);
    --on-secondary: light-dark(#ffffff, #272f4d);
    --secondary-container: light-dark(#dde1ff, #3e4565);
    --on-secondary-container: light-dark(#3e4565, #dde1ff);
    --tertiary: light-dark(#725572, #e0bbdd);
    --on-tertiary: light-dark(#ffffff, #412742);
    --tertiary-container: light-dark(#fdd7fa, #593d59);
    --on-tertiary-container: light-dark(#593d59, #fdd7fa);
    --error: light-dark(#ba1a1a, #ffb4ab);
    --on-error: light-dark(#ffffff, #690005);
    --error-container: light-dark(#ffdad6, #93000a);
    --on-error-container: light-dark(#93000a, #ffdad6);
    --shadow: #000000;
    --scrim: #000000;
    --primary-fixed: #d5e3ff;
    --primary-fixed-dim: #a7c8ff;
    --on-primary-fixed: #001c3b;
    --on-primary-fixed-variant: #004788;
    --secondary-fixed: #dde1ff;
    --secondary-fixed-dim: #bec5eb;
    --on-secondary-fixed: #121a37;
    --on-secondary-fixed-variant: #3e4565;
    --tertiary-fixed: #fdd7fa;
    --on-tertiary-fixed: #2a122c;
    --tertiary-fixed-dim: #e0bbdd;
    --on-tertiary-fixed-variant: #593d59;
}
