@import "components/buttons.css";
@import "components/colours.css";
@import "components/fonts.css";
@import "components/icon.css";
@import "components/inputs.css";
@import "components/login.css";
@import "components/main-layout.css";
@import "components/nav.css";

@import "sections/count.css";
@import "sections/history.css";
@import "sections/settings.css";
@import "sections/today.css";

* {
    font-family: "Google Sans Flex", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    &:focus-visible {
        outline: solid var(--primary) 2px;
        outline-offset: -2px;
    }

    &::selection {
        background-color: var(--primary);
        color: var(--on-primary);
    }
}

body {
    margin: 0;
    background-color: var(--surface-container-lowest);
    color: var(--on-surface);
}

section {
    font-size: 19px;
}

a,
a:link,
a:visited {
    color: var(--primary);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div:has(> h2) {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    padding: 12px;
    border-radius: 17px 17px 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 5px;
        font-weight: 500;
        font-size: 22px;
    }

    button.filled {
        --size: 15px;
        --background-color: var(--secondary);
        --color: var(--on-secondary);
    }
}

.status-message {
    display: none;
    background-color: var(--surface-container-low);
    color: var(--on-surface-variant);
    justify-content: center;
    margin: 5px 0 0 0;
    padding: 25px;
    align-items: center;
    border-radius: 6px;
    text-align: center;

    & > * {
        display: none;
        .icon.large {
            margin-bottom: 10px;
        }
    }

    &[data-status="loading"] .loading,
    &[data-status="empty"] .empty,
    &[data-status="error"] .error {
        display: block;
    }

    &[data-status="error"] {
        background-color: var(--error-container);
        color: var(--on-error-container);
    }
}
