@import "temp/components/buttons.css";
@import "temp/components/inputs.css";

@import "components/md-icon.css";
@import "components/section-nav.css";
@import "components/status-message.css";

@import "sections/count.css";
@import "sections/history.css";
@import "sections/settings.css";
@import "sections/today.css";

@import "colours.css";

@font-face {
    font-family: "Google Sans Flex";
    src: url(../assets/fonts/google-sans-flex.ttf);
}

* {
    font-family: "Google Sans Flex", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    &:focus-visible {
        outline: solid var(--primary) 2px;
        outline-offset: -2px;
    }

    &::selection {
        background-color: var(--primary);
        color: var(--on-primary);
    }
}

body {
    margin: 0;
    background-color: var(--surface-container-lowest);
    color: var(--on-surface);
    display: flex;
    flex-direction: column;
    height: 100svh;
}

[hidden] {
    display: none !important;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited {
    color: var(--primary);
}

div:has(> h2) {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    padding: 12px;
    border-radius: 17px 17px 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 5px;
        font-weight: 500;
        font-size: 22px;
    }

    button.filled {
        --size: 15;
        --background-color: var(--secondary);
        --color: var(--on-secondary);
    }
}
