@import "components/buttons.css";
@import "components/colours.css";
@import "components/fonts.css";
@import "components/icon.css";
@import "components/inputs.css";
@import "components/main-layout.css";
@import "components/nav.css";

@import "sections/count.css";
@import "sections/history.css";
@import "sections/settings.css";
@import "sections/today.css";

* {
    font-family: "Google Sans Flex", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    &:focus-visible {
        outline: solid var(--primary) 2px;
        outline-offset: -2px;
    }
}

body {
    margin: 0;
    background-color: var(--surface-container-lowest);
    color: var(--on-surface);
}

section {
    font-size: 19px;
}
