@media (prefers-color-scheme: light) {
    :root {
        --fg: #444;
        --fg2: #777;
        --fg-accent: #0057ca;
        --fg-err: #bd2f22;
        --bg: #fcfcfc;
        --bg3: #f8f8f8;
        --bg-accent: rgb(from var(--fg-accent) r g b / 0.08);

        --hover-l-mult: 0.97;
        --hover-l-mult-inv: 1.2;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #eee;
        --fg2: #999;
        --fg-accent: #b5d2ff;
        --fg-err: #fda3a8;
        --bg: #333;
        --bg3: #444;
        --bg-accent: rgb(from var(--fg-accent) r g b / 0.1);

        --hover-l-mult: 1.1;
        --hover-l-mult-inv: 0.95;
    }
}
